@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
body {
    margin: 0;
    padding: 0;
    background: rgb(50, 44, 75);
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#title {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, #fdfdfd 0%, #fffb00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#info {
    margin: 0 500px 30px;
    color: white;
}

#inputText {
    width: 300px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
    border: 2px solid gray;
    border-radius: 10px;
    color: black;
    text-align: center;
}

#inputText::placeholder {
    text-align: center;
    color: black;
}

.buttons {
    margin-top: 20px;
}

.add {
    margin-right: 10px;
}

#addToDo {
    height: 40px;
    width: 160px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(87, 41, 131);
    color: white;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s;
}

#addToDo:hover {
    background: rgb(138, 43, 226);
    width: 165px;
    height: 42px;
}

#clearToDo {
    height: 40px;
    width: 160px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: darkred;
    color: white;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s;
}

#clearToDo:hover {
    background-color: red;
    width: 162px;
    height: 42px;
}

.paragraph-styling {
    margin: 0px 0px 10px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    text-transform: capitalize;
}

.to-dos {
    margin-top: 25px;
}